* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.recipe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  padding: 24px 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.recipe-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-logo {
  width: 50px;
  height: 52px;
  margin-right: 10px;
}

.chef-heading {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.main-div {
  margin: 40px 20px 10px;
}

.ingredient-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ingredient-form > input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  padding: 9px 13px;
}

.ingredient-form > button {
  border: none;
  border-radius: 6px;
  background-color: #141312;
  color: #fafaf8;
  padding: 3px 7px;
  width: 150px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.ingredient-form > button:hover {
  cursor: pointer;
}

.ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
